.table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    width: 100%;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table thead tr {
    background-color: #e48a40;
    color: #ffffff;
    text-align: left;
}

.table th,
.table td {
    padding: 12px 15px;
    font-size: 2.4rem;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #e48a40;
}

.deleteButton{
    width: 100px;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
    color: #fff;
    font-size: 1.6rem;
    transition: all 0.2s ease-in-out;
}
.deleteButton:hover{
    box-shadow: 1px 1px 10px #e62222;
    transform: translateY(-1px);
}
.eachRow:hover{
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: rgba(228, 138, 64, 0.31) !important;
}